<footer class="navbar navbar-expand fixed-bottom navbar-light bg-secondary-light">
    <div class="container">
        <form class="form-inline">
            <a href="https://github.com/kangaroo-server"
               class="btn btn-sm btn-link align-middle"
               target="_blank">
                <i class="fa fa-github"></i> kangaroo-server
            </a>
            <a href="https://webchat.freenode.net/?channels=kangaroo"
               class="btn btn-sm btn-link align-middle"
               target="_blank">
                <i class="fa fa-hashtag"></i> kangaroo
            </a>
            <a href="https://kangaroo-server.slack.com"
               class="btn btn-sm btn-link align-middle"
               target="_blank">
                <i class="fa fa-slack"></i> kangaroo-server
            </a>
        </form>
    </div>
</footer>